# ignoring...

# application for test Swiita
SwiitaTestApp/*

# files

# fastlane, bundle
vendor/*
Gemfile
Gemfile.lock
.bundle/*
fastlane/report.xml
fastlane/test_output/*

# carthage
Carthage/*

# SPM
.build/
